 
*,html,body{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body {
      margin: 0;
      font-family: "Noto Sans", sans-serif;
      background: #f5f7fa;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

/* Navbar */
nav {
    background: #de9336;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}

.logo {
    font-weight: bold;
    font-size: 1.3rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s ease;
}

.nav-links a:hover {
    opacity: 0.8;
}


main {
    flex: 1;
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

.card {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    text-align: center;
}

.card h2 {
    margin-bottom: 0.5rem;
}

.card p {
    font-size: 0.95rem;
    color: #444;
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}


@media (max-width: 768px) {

     .hamburger {
        display: flex;
      }

      .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
      }

      .nav-links.active {
        display: flex;
      }

      .nav-links a {
        padding: 0.75rem 0;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
      }
    }

    main {
      flex: 1;
      padding: 2rem;
      max-width: 800px;
      margin: auto;
    }

    .card {
      background: white;
      padding: 1.5rem;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      margin-bottom: 2rem;
      text-align: center;
    }

    .card h2 {
      margin-bottom: 0.5rem;
    }

    .card p {
      font-size: 0.95rem;
      color: #444;
    }
