*,html,body{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body {
      margin: 0;
      font-family: "Noto Sans", sans-serif;
      background: #f5f7fa;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }


.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 0rem 2rem 2rem 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

form input[type="file"] {
    margin-bottom: 1rem;
}

form button {
    background-color: #deb841;
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #de9336;
}

.message {
    margin-top: 1rem;
}